In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:/Datasets/preprocessing/simple_data_ilk_safha.csv")
df.head()

,sirano,isim,yas,meslek,sehir,aylik_gelir,yas2,aylik_gelir2,aylik_gelir3
0,1,Cemal,35.0,Isci,Ankara,3500.0,35.000000,3500.0,3500.0
1,2,Ceyda,42.0,Memur,Kayseri,4200.0,42.000000,4200.0,4200.0
2,3,Timur,30.0,Müzisyen,Istanbul,9000.0,30.000000,9000.0,9000.0
3,4,Burcu,29.0,Pazarlamaci,Ankara,4200.0,29.000000,4200.0,4200.0
4,5,Yasemin,NaN,Pazarlamaci,Bursa,4800.0,37.941176,4800.0,4800.0

#  Kategorik Niteliklerin İşlenmesi

## Hedef Değişkenin LabelEncoder ile Kodlanması

In [3]:
# Bu veri setinde hedef değişken olmadığından yapılamıyor.

## LabelEncoder

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
encoder_meslek = LabelEncoder()
encoder_sehir = LabelEncoder()

In [6]:
df['meslek2'] = encoder_meslek.fit_transform(df['meslek'].values.reshape(-1,1))
df['sehir2'] = encoder_sehir.fit_transform(df['sehir'].values.reshape(-1,1))

c:\python\python36\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
df[['sehir','sehir2','meslek','meslek2']].head()

      sehir  sehir2       meslek  meslek2
0    Ankara       0         Isci        2
1   Kayseri       3        Memur        3
2  Istanbul       2     Müzisyen        4
3    Ankara       0  Pazarlamaci        5
4     Bursa       1  Pazarlamaci        5

In [8]:
df.head(20)

,sirano,isim,yas,meslek,sehir,aylik_gelir,yas2,aylik_gelir2,aylik_gelir3,meslek2,sehir2
0,1,Cemal,35.0,Isci,Ankara,3500.0,35.000000,3500.000,3500.0,2,0
1,2,Ceyda,42.0,Memur,Kayseri,4200.0,42.000000,4200.000,4200.0,3,3
2,3,Timur,30.0,Müzisyen,Istanbul,9000.0,30.000000,9000.000,9000.0,4,2
3,4,Burcu,29.0,Pazarlamaci,Ankara,4200.0,29.000000,4200.000,4200.0,5,0
4,5,Yasemin,NaN,Pazarlamaci,Bursa,4800.0,37.941176,4800.000,4800.0,5,1
5,6,Ali,33.0,Memur,Ankara,4250.0,33.000000,4250.000,4250.0,3,0
6,7,Dilek,29.0,Pazarlamaci,Istanbul,7300.0,29.000000,7300.000,7300.0,5,2
7,8,Murat,31.0,Müzisyen,Istanbul,12000.0,31.000000,12000.000,12000.0,4,2
8,9,Ahmet,33.0,Doktor,Ankara,18000.0,33.000000,18000.000,18000.0,1,0
9,10,Muhittin,46.0,Berber,Istanbul,NaN,46.000000,7534.375,8800.0,0,2
10,11,Hicaziye,47.0,Tuhafiyeci,Ankara,4800.0,47.000000,4800.000,4800.0,7,0
11,12,Harun,43.0,Tornacı,Ankara,4200.0,43.000000,4200.000,4200.0,6,0
12,13,Hakkı,NaN,Memur,Çorum,3750.0,37.941176,3750.000,3750.0,3,4
13,14,Gülizar,37.0,Doktor,İzmir,14250.0,37.000000,14250.000,14250.0,1,5
14,15,Şehmuz,41.0,Müzisyen,Ankara,8700.0,41.000000,8700.000,8700.0,4,0
15,16,Gençay,46.0,Berber,Ankara,8800.0,46.000000,8800.000,8800.0,0,0
16,16,Gençay,46.0,Berber,Ankara,8800.0,46.000000,8800.000,8800.0,0,0
17,17,Şenay,32.0,Pazarlamaci,İzmir,NaN,32.000000,7534.375,8800.0,5,5
18,18,Tümer,45.0,Müzisyen,Ankara,NaN,45.000000,7534.375,8800.0,4,0

## Sütunları tekrar sıralayalım

In [9]:
df.columns

Index(['sirano', 'isim', 'yas', 'meslek', 'sehir', 'aylik_gelir', 'yas2',
       'aylik_gelir2', 'aylik_gelir3', 'meslek2', 'sehir2'],
      dtype='object')

In [10]:

df = df[['yas2', 'aylik_gelir3', 'meslek2', 'sehir2',
         'aylik_gelir2','sirano', 'isim', 'yas', 'meslek', 'sehir', 'aylik_gelir', ]]

## OneHotEncoder

In [11]:
# Artık pandas'dan numpy'a geçme zamanı geldi

In [12]:
X = df.iloc[:,:4].values
X.shape

(19, 4)

In [13]:
X[:10,:]

array([[3.50000000e+01, 3.50000000e+03, 2.00000000e+00, 0.00000000e+00],
       [4.20000000e+01, 4.20000000e+03, 3.00000000e+00, 3.00000000e+00],
       [3.00000000e+01, 9.00000000e+03, 4.00000000e+00, 2.00000000e+00],
       [2.90000000e+01, 4.20000000e+03, 5.00000000e+00, 0.00000000e+00],
       [3.79411765e+01, 4.80000000e+03, 5.00000000e+00, 1.00000000e+00],
       [3.30000000e+01, 4.25000000e+03, 3.00000000e+00, 0.00000000e+00],
       [2.90000000e+01, 7.30000000e+03, 5.00000000e+00, 2.00000000e+00],
       [3.10000000e+01, 1.20000000e+04, 4.00000000e+00, 2.00000000e+00],
       [3.30000000e+01, 1.80000000e+04, 1.00000000e+00, 0.00000000e+00],
       [4.60000000e+01, 8.80000000e+03, 0.00000000e+00, 2.00000000e+00]])

In [14]:
# 0: yas2
# 1: aylik_gelir3
# 2: meslek2
# 3: sehir2

In [15]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(handle_unknown='ignore', categories='auto')

In [16]:
# Birden sütunu ilgilendiren dönüşümleri kolay yapabilmek için kullanışlı bir sınıf (Estimator kökenli)
# Biz burada sadece OneHotEncoder için kullanacağız.
from sklearn.compose import ColumnTransformer

In [17]:
# one_hot_encode_with_ct bizim kendi verdiğiiz isimdir. onehotencoder'ı yukarıda yarattık. [2,3] ise dönüşecek
# niteliklerin indeks değerleridir.
ct = ColumnTransformer(
    [('one_hot_encode_with_ct', onehotencoder, [2,3]),], 
    remainder='passthrough'
)

In [18]:
# ColumnTransformer nesnesi ile onehotencoder nesnesini eğitip gerekli dönüşümleri gerçekleştirip X'e tekrar atayalım.
# Burada X'in boyutu(shape) değişecektir.
X = ct.fit_transform(X)

In [19]:
X.shape

(19, 16)

In [20]:
X.toarray()[:3]

array([[0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
        0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
        3.5e+01, 3.5e+03],
       [0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
        0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00,
        4.2e+01, 4.2e+03],
       [0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00,
        0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
        3.0e+01, 9.0e+03]])

# Normalizasyon, Standardizasyon (StandartdScaler)

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
scaler = StandardScaler()

In [23]:
X = scaler.fit_transform(X.toarray())

In [24]:
X[:4,:]

array([[-0.4330127 , -0.34299717,  4.24264069, -0.4330127 , -0.51639778,
        -0.51639778, -0.23570226, -0.23570226,  0.9486833 , -0.23570226,
        -0.51639778, -0.23570226, -0.23570226, -0.34299717, -0.47034948,
        -1.1128163 ],
       [-0.4330127 , -0.34299717, -0.23570226,  2.30940108, -0.51639778,
        -0.51639778, -0.23570226, -0.23570226, -1.05409255, -0.23570226,
        -0.51639778,  4.24264069, -0.23570226, -0.34299717,  0.64908228,
        -0.92884543],
       [-0.4330127 , -0.34299717, -0.23570226, -0.4330127 ,  1.93649167,
        -0.51639778, -0.23570226, -0.23570226, -1.05409255, -0.23570226,
         1.93649167, -0.23570226, -0.23570226, -0.34299717, -1.2699436 ,
         0.33266914],
       [-0.4330127 , -0.34299717, -0.23570226, -0.4330127 , -0.51639778,
         1.93649167, -0.23570226, -0.23570226,  0.9486833 , -0.23570226,
        -0.51639778, -0.23570226, -0.23570226, -0.34299717, -1.42986242,
        -0.92884543]])

# Ödev-20

In [1]:
# ../preprocessing/healthcare_insurance_to_preprocessed.csv 
# veri setini veri ön hazırlığını yapınız.