In [1]:
import pandas as pd

df = pd.read_csv("D:/Datasets/Mall_Customers.csv",",")

In [2]:
df.head()

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1    Male   19         15000             39
1           2    Male   21         15000             81
2           3  Female   20         16000              6
3           4  Female   23         16000             77
4           5  Female   31         17000             40

## Normalization

Normalizasyon, bireysel numuneleri birim normuna ölçeklendirme işlemidir.

In [3]:
from sklearn.preprocessing import Normalizer

In [4]:
normalizer = Normalizer()

In [5]:
normalizer

Normalizer(copy=True, norm='l2')

In [6]:
df[['Age','AnnualIncome','SpendingScore']] = normalizer.fit_transform(df[['Age','AnnualIncome','SpendingScore']])

In [7]:
df.head()

   CustomerID  Gender       Age  AnnualIncome  SpendingScore
0           1    Male  0.001267      0.999996       0.002600
1           2    Male  0.001400      0.999984       0.005400
2           3  Female  0.001250      0.999999       0.000375
3           4  Female  0.001437      0.999987       0.004812
4           5  Female  0.001824      0.999996       0.002353

In [8]:
df.mean()

CustomerID       100.500000
Age                0.000808
AnnualIncome       0.999998
SpendingScore      0.001069
dtype: float64

In [9]:
df.std()

CustomerID       57.879185
Age               0.000540
AnnualIncome      0.000003
SpendingScore     0.000973
dtype: float64

In [10]:
df.max()

CustomerID              200
Gender                 Male
Age              0.00352629
AnnualIncome              1
SpendingScore    0.00539992
dtype: object

In [11]:
df.min()

CustomerID                 1
Gender                Female
Age              0.000218978
AnnualIncome        0.999984
SpendingScore    1.28205e-05
dtype: object