In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("D:/Datasets/adult_preprocessed.csv", sep=",", header=0)

In [10]:
df.head()

,workclass,education,education_merged,marital_status,occupation,relationship,race,sex,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,output
0,State-gov,Bachelors,Under-Graduate,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,39,77516.0,13.0,2174.0,0.0,40.0,<=50K
1,Self-emp-not-inc,Bachelors,Under-Graduate,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,50,83311.0,13.0,0.0,0.0,13.0,<=50K
2,Private,HS-grad,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,38,215646.0,9.0,0.0,0.0,40.0,<=50K
3,Private,11th,High-School,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,53,234721.0,7.0,0.0,0.0,40.0,<=50K
4,Private,Bachelors,Under-Graduate,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,28,338409.0,13.0,0.0,0.0,40.0,<=50K

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45207 entries, 0 to 45206
Data columns (total 16 columns):
workclass           45207 non-null object
education           45207 non-null object
education_merged    45207 non-null object
marital_status      45207 non-null object
occupation          45207 non-null object
relationship        45207 non-null object
race                45207 non-null object
sex                 45207 non-null object
native_country      45207 non-null object
age                 45207 non-null int64
fnlwgt              45207 non-null float64
education_num       45207 non-null float64
capital_gain        45207 non-null float64
capital_loss        45207 non-null float64
hours_per_week      45207 non-null float64
output              45207 non-null object
dtypes: float64(5), int64(1), object(10)
memory usage: 5.5+ MB

In [19]:
df.hours_per_week.dtypes == 'float64'

True

## Kategorik değişkenleri ayırmak

In [22]:
categoricals = []
numericals = []
for col in df.columns:
    if(df[col].dtypes == 'O'):
        categoricals.append(col)
    else: numericals.append(col)

In [23]:
print(categoricals)
print(numericals)

['workclass', 'education', 'education_merged', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'output']
['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

## LabelEncoder

In [34]:
from sklearn.preprocessing import LabelEncoder
labelencoder_workclass = LabelEncoder()
labelencoder_education = LabelEncoder()
labelencoder_education_merged = LabelEncoder()
labelencoder_marital_status = LabelEncoder()
labelencoder_occupation = LabelEncoder()
labelencoder_relationship = LabelEncoder()
labelencoder_race = LabelEncoder()
labelencoder_sex = LabelEncoder()
labelencoder_native_country = LabelEncoder()
labelencoder_output = LabelEncoder()

In [64]:
X = df.iloc[:,0:9].values

In [65]:
X.shape

(45207, 9)

In [66]:
X[:,:10]

array([['State-gov', 'Bachelors', 'Under-Graduate', ..., 'White', 'Male',
        'United-States'],
       ['Self-emp-not-inc', 'Bachelors', 'Under-Graduate', ..., 'White',
        'Male', 'United-States'],
       ['Private', 'HS-grad', 'HS-grad', ..., 'White', 'Male',
        'United-States'],
       ...,
       ['Private', 'Bachelors', 'Under-Graduate', ..., 'White', 'Male',
        'United-States'],
       ['Private', 'Bachelors', 'Under-Graduate', ...,
        'Asian-Pac-Islander', 'Male', 'United-States'],
       ['Self-emp-inc', 'Bachelors', 'Under-Graduate', ..., 'White',
        'Male', 'United-States']], dtype=object)

In [67]:
X[:,0] = labelencoder_workclass.fit_transform(X[:,0])
X[:,1] = labelencoder_education.fit_transform(X[:,1])
X[:,2] = labelencoder_education_merged.fit_transform(X[:,2])
X[:,3] = labelencoder_marital_status.fit_transform(X[:,3])
X[:,4] = labelencoder_occupation.fit_transform(X[:,4])
X[:,5] = labelencoder_relationship.fit_transform(X[:,5])
X[:,6] = labelencoder_race.fit_transform(X[:,6])
X[:,7] = labelencoder_sex.fit_transform(X[:,7])
X[:,8] = labelencoder_native_country.fit_transform(X[:,8])

In [68]:
print(labelencoder_workclass.classes_)
print(labelencoder_education.classes_)

['Federal-gov' 'Local-gov' 'Private' 'Self-emp-inc' 'Self-emp-not-inc'
 'State-gov' 'Without-pay']
['10th' '11th' '12th' '1st-4th' '5th-6th' '7th-8th' '9th' 'Assoc-acdm'
 'Assoc-voc' 'Bachelors' 'Doctorate' 'HS-grad' 'Masters' 'Preschool'
 'Prof-school' 'Some-college']

## One Hot Encoder - ColumnTransformer

In [69]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(handle_unknown='ignore', categories='auto')

In [70]:
# Birden sütunu ilgilendiren dönüşümleri kolay yapabilmek için kullanışlı bir sınıf (Estimator kökenli)
# Biz burada sadece OneHotEncoder için kullanacağız.
from sklearn.compose import ColumnTransformer

In [71]:
# one_hot_encode_with_ct bizim kendi verdiğiiz isimdir. onehotencoder'ı yukarıda yarattık. [0,1,2] ise dönüşecek
# niteliklerin indeks değerleridir.
ct = ColumnTransformer(
    [('one_hot_encode_with_ct', onehotencoder, [0,1,2,3,4,5,6,7,8]),], 
    remainder='passthrough'
)

In [72]:
# ColumnTransformer nesnesi ile onehotencoder nesnesini eğitip gerekli dönüşümleri gerçekleştirip X'e tekrar atayalım.
# Burada X'in boyutu(shape) değişecektir.
X = ct.fit_transform(X)

In [73]:
X[:10]

<10x105 sparse matrix of type '<class 'numpy.float64'>'
	with 90 stored elements in Compressed Sparse Row format>

In [74]:
# Boyut değişmiş olmalı. Çnkü gölge değişkenler eklendi
X.shape

(45207, 105)