In [1]:
import pandas as pd
import numpy as np

## Veri Okuma

In [5]:
df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\machine-learning-with-python\\datasets\\Mall_Customers.csv",",")

## Veri Keşfi

In [6]:
df.head()

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1    Male   19         15000             39
1           2    Male   21         15000             81
2           3  Female   20         16000              6
3           4  Female   23         16000             77
4           5  Female   31         17000             40

## Standardization

## StandardScaler

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()

In [9]:
df[['Age','AnnualIncome','SpendingScore']] = scaler.fit_transform(df[['Age','AnnualIncome','SpendingScore']])

In [10]:
df.head()

   CustomerID  Gender       Age  AnnualIncome  SpendingScore
0           1    Male -1.424569     -1.738999      -0.434801
1           2    Male -1.281035     -1.738999       1.195704
2           3  Female -1.352802     -1.700830      -1.715913
3           4  Female -1.137502     -1.700830       1.040418
4           5  Female -0.563369     -1.662660      -0.395980

In [31]:
df.mean()

CustomerID       1.005000e+02
Age             -1.021405e-16
AnnualIncome    -1.421085e-16
SpendingScore   -1.465494e-16
dtype: float64

In [32]:
df.std()

CustomerID       57.879185
Age               1.002509
AnnualIncome      1.002509
SpendingScore     1.002509
dtype: float64

## Scaling features to a range

In [20]:
# Belli bir aralığa (genelde 0-1) ölçeklenmek isteniyorsa MinMaxScaler Kullanılır

In [22]:
df_min_max = pd.read_csv("D:/Datasets/Mall_Customers.csv",",")

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
min_max_scaler = MinMaxScaler()

In [26]:
df_min_max[['Age','AnnualIncome','SpendingScore']] = min_max_scaler.fit_transform(df_min_max[['Age','AnnualIncome','SpendingScore']])

In [27]:
df_min_max.head()

   CustomerID  Gender       Age  AnnualIncome  SpendingScore
0           1    Male  0.019231      0.000000       0.387755
1           2    Male  0.057692      0.000000       0.816327
2           3  Female  0.038462      0.008197       0.051020
3           4  Female  0.096154      0.008197       0.775510
4           5  Female  0.250000      0.016393       0.397959

In [30]:
df_min_max.mean()

CustomerID       100.500000
Age                0.400962
AnnualIncome       0.373443
SpendingScore      0.502041
dtype: float64

In [29]:
df_min_max.std()

CustomerID       57.879185
Age               0.268635
AnnualIncome      0.215285
SpendingScore     0.263505
dtype: float64

## Scaling data with outliers

Verileriniz birçok aykırı değer içeriyorsa, verilerin ortalamasını ve varyansını kullanarak ölçeklendirmenin iyi sonuç vermeyeceği tahmin edilir. Bu gibi durumlarda, robust_scale ve RobustScaler'ı  kullanabilirsiniz. Verilerinizin merkezi ve aralığı için daha güçlü tahminler kullanırlar.

In [33]:
df_robust = pd.read_csv("D:/Datasets/Mall_Customers.csv",",")

In [34]:
from sklearn.preprocessing import RobustScaler

In [35]:
rb_scaler = RobustScaler()

In [36]:
df_robust[['Age','AnnualIncome','SpendingScore']] = rb_scaler.fit_transform(df_robust[['Age','AnnualIncome','SpendingScore']])

In [37]:
df_robust.head()

   CustomerID  Gender       Age  AnnualIncome  SpendingScore
0           1    Male -0.839506     -1.273973      -0.287582
1           2    Male -0.740741     -1.273973       0.810458
2           3  Female -0.790123     -1.246575      -1.150327
3           4  Female -0.641975     -1.246575       0.705882
4           5  Female -0.246914     -1.219178      -0.261438

In [38]:
df_robust.mean()

CustomerID       100.500000
Age                0.140741
AnnualIncome      -0.025753
SpendingScore      0.005229
dtype: float64

In [39]:
df_robust.std()

CustomerID       57.879185
Age               0.689828
AnnualIncome      0.719581
SpendingScore     0.675125
dtype: float64