In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/Datasets/iris.csv")
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Her bir çiçek türüne ait quartileden 0.02 ile 0.98 dışında olanları 1 olarak işaretlemek

In [4]:
quartiles_dict = {}
outlier_df = pd.DataFrame()
for tur in list(df.Species.unique()):
    quartiles_dict[tur+"002"] = df[df['Species'] == tur]['SepalLengthCm'].quantile(0.02)
    quartiles_dict[tur+"098"] = df[df['Species'] == tur]['SepalLengthCm'].quantile(0.98)
    df2 = df[df['Species']  == tur]
    df2['outlier'] = np.where((df2['SepalLengthCm'] < quartiles_dict[tur+"002"] ) | (df2['SepalLengthCm'] > quartiles_dict[tur+"098"]), 1, 0)
    outlier_df = outlier_df.append(df2, ignore_index=True)
            
outlier_df[outlier_df.SepalLengthCm > 5.7].head()

c:\python\python36\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,outlier
14,5.8,4.0,1.2,0.2,Iris-setosa,1
50,7.0,3.2,4.7,1.4,Iris-versicolor,1
51,6.4,3.2,4.5,1.5,Iris-versicolor,0
52,6.9,3.1,4.9,1.5,Iris-versicolor,0
54,6.5,2.8,4.6,1.5,Iris-versicolor,0

In [5]:
quartiles_dict

{'Iris-setosa002': 4.398000000000001,
 'Iris-setosa098': 5.701999999999999,
 'Iris-versicolor002': 4.998,
 'Iris-versicolor098': 6.902,
 'Iris-virginica002': 5.585999999999999,
 'Iris-virginica098': 7.703999999999999}